* {
    box-sizing: border-box; 
}

html {
    font-family: 'Dosis', sans-serif;  
}

body {
    margin: 0;
}

main {
    margin: 0 auto;
}

header, aside {
    background-color: #F8F9FA; 
}

h1, li, p {
    text-align: center; 
  }

h1 {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
}

ul {
    padding-left: 0;
    margin-bottom: 2.5rem;
}

ul, aside p {
    margin-top: 0;
}

li {
    background-color: white; 
    list-style-type: none; 
    margin: .25rem 1rem;
  }

li, p {
    padding: .5rem;
}

a {
    text-decoration: none; 
    font-weight: bold;
    color:black;
}

a, aside h3 {
    font-size: .9rem;
}

a, .portfolio, aside h3, h4:last-child {
    text-transform: uppercase;
}

img {
  width: 65%;
  margin: 0 auto .75rem;  
}

p {
    line-height: 1.30;
    font-size: 1.05rem; 
    margin: 1rem 1rem 2.25rem;
}

header, main, section, .marketing, .search, .travel, .map, .photo-gallery, .calculator, aside, address, .phone, .email {
    display: flex;
    flex-direction: column; 
}

.portfolio, .search, .travel, .map, .photo-gallery {
    margin-bottom: 1rem; 
}

.portfolio { 
    font-size: .95rem;
    margin: 3rem auto;
}

.portfolio, section h2, aside h3, h4:last-child {
    align-self: center;
}

section img {
    width: 90%; 
}

section h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

section h2, aside h3, address p {
    margin-bottom: 0;
}

section p {
    margin-top: .5rem;
    margin-bottom: 1.75rem;
}

.calculator {
    padding-bottom: 1.5rem;
}

aside { 
    padding-bottom: 3rem;
}

aside h3 {
    font-size: .9rem;
    font-weight: bolder;
    margin: 4rem auto 1rem;
}

aside p, h4 {
    margin-bottom: 1rem;
}

.phone, .email {
    flex-direction: row;
    justify-content: center;
}

.phone p, .email p {
    font-style: normal;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px rgb(216, 216, 216) solid;
}

h4:first-child {
    margin-right: auto;
}

h4:last-child {
    font-size: .8rem;
}

h4 {
    padding: .75rem;
}


@media screen and (min-width: 450px) and (max-width: 768px) {
    p {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        justify-content: center;
    }
    h4 {
        margin-right: 8%;
        margin-left: 8%; 
    }
    img {
        max-width: 600px;
    }
}